<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>

 <form action="{{route('auth.register')}}" method="post" class="flex flex-col justify-center items-left m-center w-1/2 gap-8">
  <label>
    Email
    <input type="email" name="email" value="{{ flashMessages.get('email') ?? '' }}" />
    @if (flashMessages.has('errors.email'))
      <small style="color: red;">
        {{ flashMessages.get('errors.email') }}
      </small>
    @endif
  </label>
  <label>
    Password
    <input type="password" name="password" />
    @if (flashMessages.has('errors.password'))
      <small style="color: red;">
        {{ flashMessages.get('errors.password') }}
      </small>
    @endif
  </label>
    <button type="submit">Register</button>
 </form>
</body>
</html>
