
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>
<body>
    @component('components.navbar')
    @endcomponent
  <div class="flex flex-row flex-wrap gap-4 items-center justify-center m-4">
    @each(item in books)
<a href="/book/{{item.key}}" class="flex flex-col w-1/6 book-card ">
   

        <div class="w-full h-64">
            <img src="{{ item.cover }}" alt="" class="object-cover h-full w-full">
          </div>

        <div class="flex flex-col justify-center items-center p-2">
            <p class=" text-bold text-center"> {{ item.title.length > 18 ? item.title.slice(0, 15) + "..." : item.title }}  </p>
            <p>{{ item.author.length > 10 ? item.author.slice(0, 15) + "..." : item.author }}</p>
        </div>

 
</a>
    @end
</div>
</body>
</html>