<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>
<body>
    @component('components.navbar')
    @endcomponent

    <h1 class="text-center text-2xl mt-5">Hey {{auth.user.email}} !</h1>
</body>
</html>