<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>
<body>
    @component('components.navbar')
    @endcomponent

    <h1 class="text-center text-2xl mt-5">Hey {{auth.user.email}} !</h1>
    <li><a href="{{ route('auth.logout') }}">Logout</a></li>

    <form action="{{ route('shelf.add') }}" method="POST">
        <input type="text" name="shelf-name" id="">
        <input type="submit" value="Create a bookshelf">
    </form>


    @each(item in bookshelf)
    <form method="post" action="{{ route('books.delete') }}" class="bg-slate-500 p-5 m-5">
    <p>{{item.title}}</p>
    <input type="hidden" value="{{ item.id }}" name="book_id">
    <input type="submit" value="Delete the book of my shelf">
    </form>
    @endeach
</body>
</html>