<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body>
    @component('components.navbar')
    @endcomponent
    @if()
    @end
    <h1>Our reco based on what you like </h1>
    @each(item in books)
    <p> {{item.title}} </p>
    @end
    
    
</body>
</html>