<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  @component('components.navbar')
  @endcomponent

  <main>
   <div class="flex flex-col">
    <a class="category" href="books/classics">Classics</a>
    <a class="category" href="books/crime">Crime</a>
    <a class="category" href="books/fantasy">Fantasy</a>
    <a class="category" href="books/horror">Horror</a>
    <a class="category" href="books/mystery">Mystery</a>
    <a class="category" href="books/poetry">Poetry</a>
    <a class="category" href="books/plays">Plays</a>
    <a class="category" href="books/romance">Romance</a>
    <a class="category" href="books/thriller">Thrillers</a>
    <a class="category" href="books/war">War</a>
    <a class="category" href="books/western">Westerns</a>
    <a class="category" href="books/young-adult">Young Adult</a>
    <a class="category" href="books/biography">Biography</a>

  </div>



     
  </main>
</body>
</html>
