@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  color: #3C49F3;
}


main {
  max-width: 620px;
  margin: auto;
  height: 100vh;
  padding: 0 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #17161A;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

main ul {
  list-style: none;
}

main li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}

main li:before {
  content: '—';
  position: absolute;
  left: 0;
}

main code {
  font-size: 16px;
  background: #e6e2ff;
}

.book-card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav{
  background-color: #F1E5DF !important;
}
html body{
  background-color: #F1E5DF !important;
}
a{
  text-decoration: none;

}

.title{
  font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 48px;

color: #3C49F3;
}

.para{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
color: #090808;
}

.shadow-nav{
  box-shadow: inset 15px 11px 8px -5px rgba(0, 0, 0, 0.25);
}

.shadow-menu{
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shadow-button{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.active{
  background-color: #3C49F3 !important;
  color: white !important;
  padding: 15px;
  border-radius: 2.25rem;
  font-size: larger;
  

}

.spe-label{
  display: flex;
  flex-direction: column;
}